body 
    text-align center
    background #daffd4
    text-align center

    h1
        color #42ff23
        font-size 7em
        padding 0em 0em 0.5em 0em
        font-family 'Dancing Script', cursive
        text-transform capitalize

    button
        background #98bd91
        color #fbfffb
        padding 0.5em 1em
        border none
        font-size 2em
        margin 0.5em
        box-shadow 5px 5px 2px rgba(0,0,0,0.1)
        cursor pointer
        font-family 'Josefin Sans', sans-serif
        border-radius 15px

    button:hover
        background #fbfffb
        color #98bd91