doctype html
html
    head
        title BootyTime
        link(rel='stylesheet', href='/css/app.min.css')
        link(href='http://fonts.googleapis.com/css?family=Dancing+Script', rel='stylesheet', type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Josefin+Sans:100', rel='stylesheet', type='text/css')
        link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
        link(rel="icon", href="/favicon.ico", type="image/x-icon")
    body
        h1 BootyTime
        h2 Wanna slap #{TheVariable}?
        button#hitAPI Yeee!
        script(src='jquery.min.js')
        script(src='/js/app.js')