doctype html
html
    head
        title mhacksTravelingThings
        link(rel='stylesheet', href='/css/app.min.css')
    body
        h1 yolo !!!
        #hitAPI API Time!
        h1= theVariable
        script(src='/js/app.js')